{% extends "base.html" %}
{% block title %}Список продуктов{% endblock %}

{% block content %}
<h1>Список продуктов</h1>
<a href="{% url 'catalog:product_create' %}" class="btn btn-primary mb-3">Добавить продукт</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Название</th>
      <th>Описание</th>
      <th>Цена</th>
      <th>Категория</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
      <tr>
        <td><a href="{% url 'catalog:product_detail' product.pk %}">{{ product.name_product }}</a></td>
        <td>{{ product.description_product|truncatechars:50 }}</td>
        <td>{{ product.purchase_price }} $</td>
        <td>{{ product.category }}</td>
        <td>
          <a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-sm btn-warning">Редактировать</a>
          <a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-sm btn-danger">Удалить</a>
        </td>
      </tr>
    {% empty %}
      <tr><td colspan="5">Продукты не найдены.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
